.title {
  font-size: 5rem;
  font-weight: 200;

  margin-bottom: 1.5rem;

  text-align: center;
  white-space: nowrap;
}

.titleDropLetter {
  position: relative;
  top: 0.64rem;
  height: 6rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 800;

  margin-top: 2rem;

  text-align: center;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  
}

.flexContent {
  
}

.ecgDiv {
  height: 32px;
  width: 100%;
}

.buttonContainer {
  text-align: center;
  margin-top: 5rem;
}

.button {
  background-color: #D8DEE9;

  border: 2px solid #2E3440;
  border-radius: 1000px;

  margin: 0 1rem;
  padding: 0.5rem 2rem;

  font-size: 1.15rem;
  color: #2E3440;

  outline: none;
  background-clip: padding-box;
}

.button:hover:not(.buttonDisabled) {
  background-color: #A3BE8C; 
  border: 2px solid darken(#A3BE8C, 30%);
}

.buttonDisabled {
  background-color: #D8DEE9;
  color: lighten(#2E3440, 30%);
}

.button small {
  font-size: x-small;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .flexContent {
    
  }

  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .titleDropLetter {
    height: 3.5rem;
    top: 0.45rem;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}